---
title: Redis Enterprise Service Broker for PCF
owner: Partners
---

This documentation describes the Redis Enterprise Service Broker for Pivotal Cloud Foundry (PCF). The Redis Enterprise Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can provision Redis databases by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id="overview"></a> Overview

Redis Enterprise is an enterprise-grade cluster that acts as a container for managing and running multiple Redis databases in a highly available and scalable manner.

The Redis Enterprise Service Broker exposes four service plans on the Marketplace. The service plans correspond to the following preconfigured database plans:

* Simple Redis database: a single master shard.
* Highly-available Redis database: master/slave shards or master/multi-slave shards.
* Redis clustered database: multiple master shards.
* Highly-available Redis clustered database: multiple master shards each with its own slave shard, or multiple master/multi-slave shards.

For more information, see the [Redis Enterprise documentation](https://redislabs.com/redis-enterprise-documentation/overview/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Redis Enterprise Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v5.0.200000013</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 20, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>vRedis Enterprise v5.0.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.12 and 2.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v1.12 and 2.0</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, and vSphere</td>
    </tr>
</table>

<p class="note info">Note: The versioning for this tile has changed from v1.6.5 to v5.0.X to match the official Redis Enterprise pattern.</p>

## <a id="reqs"></a>Requirements

To use the Redis Enterprise Service Broker, you must have a RS cluster already deployed. To do this, see the [Installing and Configuring the Redis Enterprise Service Broker](installing.html) topic for more information.

Redis Enterprise Service for Pivotal Cloud Foundry requires a valid license from Redis Labs for the Redis Enterprise cluster.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@redislabs.com.

## <a id='limitations'></a>Limitations

At this time, Redis Enterprise Service for Pivotal Cloud Foundry is limited to one cluster per deployment.

## <a id='release-notes'></a>Release Notes

In this version of the Redis Enterprise Service Broker.
=======
There are five main features to highlight in this preview:
1. Geo-distributed, Active-Active Redis Applications with Conflict-free Replicated Databases (CRDBs)
1. Fast Search and Query in Redis with in-memory Indexing
1. Native JSON processing in Redis
1. Integrated Administrative Account Management with LDAP
1. Integrated support for Redis' Cluster API

In addition to these top features, Redis Enterprise 5.0 also brings additional modules for indexing with bloom filters and many other improvements in core performance, scale, and high availability of general Redis applications.

For this release, the tile version has been updated to match the version number of Redis Enterprise itself.

## <a id='license'></a>License

For those interested in using Redis Enterprise please go to [Redis Labs](https://redislabs.com/redis-enterprise). You are welcome to use Redis Enterprise under the trial license limitations. To obtain a production license and support, contact a Redis Labs sales representative at sales@redislabs.com.

## <a id='references'></a>References
1. [Getting Started with Redis Enterprise](https://redislabs.com/redis-enterprise-documentation/quick-setup/)
1. [Cluster Administration](https://redislabs.com/redis-enterprise-documentation/cluster-administration/)
1. [Concepts & Architecture](https://redislabs.com/redis-enterprise-documentation/concepts-architecture/)
