---
title: Redis<sup>e</sup> Pack Service Broker for PCF
owner: Partners
---

This documentation describes the Redis<sup>e</sup> Pack (RP) Service Broker for Pivotal Cloud Foundry (PCF). The RP Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can provision Redis databases by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

<p class="note warning"><strong>WARNING:</strong> Redis<sup>e</sup> Pack Service Broker for PCF v5.0.0 Beta is not intended for production use.
   For production use, Redis Labs recommends Redis<sup>e</sup> Pack Service Broker for PCF v1.6.5.</p>

## <a id="overview"></a> Overview

Redis<sup>e</sup> Pack is an enterprise-grade cluster that acts as a container for managing and running multiple Redis databases in a highly available and scalable manner.

The Redis<sup>e</sup> Pack Service Broker exposes four service plans on the Marketplace. The service plans correspond to the following preconfigured database plans:

* Simple Redis database: a single master shard.
* Highly-available Redis database: master/slave shards or master/multi-slave shards.
* Redis clustered database: multiple master shards.
* Highly-available Redis clustered database: multiple master shards each with its own slave shard, or multiple master/multi-slave shards.

For more information, see the [Redis<sup>e</sup> Pack documentation](https://redislabs.com/redis-enterprise-documentation/overview/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Redis<sup>e</sup> Pack Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 18, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>vRedis<sup>e</sup> Pack v5.0.0 Beta</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

To use the Redis<sup>e</sup> Pack Service Broker, you must have a RP cluster already deployed.
To do this, see [Installing and Configuring the Redis<sup>e</sup> Pack Service Broker](installing.html) for more information.

Redis<sup>e</sup> Pack Service Broker for PCF requires a valid license from Redis Labs for the Redis<sup>e</sup> Pack cluster.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@redislabs.com.

## <a id='limitations'></a>Limitations

At this time, Redis<sup>e</sup> Pack Service for PCF is limited to one cluster per deployment.

## <a id='release-notes'></a>Release Notes

In this version of the Redis<sup>e</sup> Pack Service Broker,
there are five main features to highlight in this preview:

1. Geo-distributed, active-active Redis apps with conflict-free replicated databases (CRDBs)
1. Fast search and query in Redis with in-memory indexing
1. Native JSON processing in Redis
1. Integrated administrative account management with LDAP
1. Integrated support for Redis Cluster API

In addition to these top features, Redis Enterprise Pack 5.0 also brings additional modules
for indexing with bloom filters and many other improvements in core performance, scale, and high availability of general Redis apps.

For this release, the tile version has been updated to match the version number of Redis<sup>e</sup> Pack itself.

## <a id='license'></a>License

For those interested in using Redis<sup>e</sup> Pack please go to [Redis Labs](https://redislabs.com/redis-enterprise). You are welcome to use Redis<sup>e</sup> Pack under the trial license limitations. To obtain a production license and support, contact a Redis Labs sales representative at sales@redislabs.com.

## <a id='references'></a>References
+ [Getting Started with Redis<sup>e</sup> Pack](https://redislabs.com/redis-enterprise-documentation/quick-setup/)
+ [Cluster Administration](https://redislabs.com/redis-enterprise-documentation/cluster-administration/)
+ [Concepts & Architecture](https://redislabs.com/redis-enterprise-documentation/concepts-architecture/)
