---
title: Redis Enterprise Service Broker for VMware Tanzu
owner: Partners
---

This documentation describes the Redis Enterprise Service Broker for VMware Tanzu. The Redis Enterprise Service Broker registers a service broker on VMware Tanzu and exposes its service plans on the Marketplace. Developers can provision Redis databases by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id="overview"></a> Overview

Redis Enterprise is an enterprise-grade cluster that acts as a container for managing and running multiple Redis databases in a highly available and scalable manner.

The Redis Enterprise Service Broker exposes four service plans on the Marketplace. The service plans correspond to the following preconfigured database plans:

* Simple Redis database: a single master shard.
* Highly-available Redis database: master/slave shards or master/multi-slave shards.
* Redis clustered database: multiple master shards.
* Highly-available Redis clustered database: multiple master shards each with its own slave shard, or multiple master/multi-slave shards.

For more information, see the [Redis Enterprise documentation](https://redislabs.com/redis-enterprise-documentation/overview/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Redis Enterprise Service Broker for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>6.0.63900002</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 3, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>vRedis Enterprise v6.0.6-39</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.7.x, v2.8.x, and v2.9.x</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs version(s)</td>
        <td>v2.7.x, v2.8.x, and v2.9.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial 315</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

To use the Redis Enterprise Service Broker, you must have an RS cluster already deployed. To do this, see the [Installing and Configuring the Redis Enterprise Service Broker](installing.html) topic for more information.

Redis Enterprise Service for VMware Tanzu requires a valid license from Redis Labs for the Redis Enterprise cluster.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [VMware Tanzu Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@redislabs.com.

## <a id='limitations'></a>Limitations

At this time, Redis Enterprise Service for VMware Tanzu is limited to one cluster per deployment.

## <a id='release-notes'></a>Release Notes

This release of the Redis Enterprise Service Broker requires Redis Enterprise Cluster release 5.4.0 and above.
Support for Xenial Stemcells has been added with this release.


## <a id='license'></a>License

If you are interested in using Redis Enterprise, go to [Redis Labs](https://redislabs.com/redis-enterprise). You are welcome to use Redis Enterprise under the trial license limitations. To obtain a production license and support, contact a Redis Labs sales representative at sales@redislabs.com.

## <a id='references'></a>References
1. [Getting Started with Redis Enterprise](https://redislabs.com/redis-enterprise-documentation/quick-setup/)
1. [Cluster Administration](https://redislabs.com/redis-enterprise-documentation/cluster-administration/)
1. [Concepts & Architecture](https://redislabs.com/redis-enterprise-documentation/concepts-architecture/)
