---
title: Installing and Configuring the Redis<sup>e</sup> Pack Service Broker
owner: Partners
---

This topic describes how to install and configure Redis<sup>e</sup> Pack (RP) Service Broker, as well as how to create an instance of the Redis<sup>e</sup> Pack service from the Marketplace of your Pivotal Cloud Foundry (PCF) deployment.

For this release, the tile version has been updated to match the version number of Redis<sup>e</sup> Pack.

##<a id='installing-rp'></a>Install Redis<sup>e</sup> Pack

To use the Redis<sup>e</sup> Pack Service Broker, you must have a Redis<sup>e</sup> Pack cluster already deployed. Configuring the Redis<sup>e</sup> Pack Service Broker requires a Redis<sup>e</sup> Pack admin account username and password, as well as the URL of your RP cluster.

To download and install Redis<sup>e</sup> Pack, follow the instructions in the [RP documentation](https://redislabs.com/redis-enterprise-documentation/installing-and-upgrading/accessing-and-installing-the-setup-package). RP is available as an Amazon Web Services AMI or as an installation package for Ubuntu and Red Hat / CentOS.

For more information about how to install Redis<sup>e</sup> Pack and create a cluster, see the [RP documentation](https://redislabs.com/redis-enterprise-documentation/overview).

##<a id='upgrading'></a> Upgrading
Upgrading is not supported between tile versions.

##<a id="installing-broker"></a> Install the Redis<sup>e</sup> Pack Service Broker

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/redis-labs-enterprise-cluster-for-pcf-service-broker).
1. Upload the product file on the Ops Manager Installation Dashboard.
1. Click **Add** next to the uploaded RP Service Broker in the Ops Manager **Available Products** view to add it to your staging area.
1. Click the newly added tile.
1. From the **Settings** tab, click **Redis<sup>e</sup> Pack** and complete the following fields:
    * **Redis<sup>e</sup> Pack admin account username**: Enter the email address you used to create the Redis<sup>e</sup> Pack cluster.
    * **Redis<sup>e</sup> Pack admin account password**: Enter the password you used to create the Redis<sup>e</sup> Pack cluster.
    * **Redis<sup>e</sup> Pack address**: Enter the Cluster Name (FQDN) of the RP cluster as you provided it when you created the cluster, in the following format: `https://YOUR-CLUSTER-NAME:9443`.
1. Click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Redis<sup>e</sup> Pack Service Broker.

##<a id='create-db'></a> Create a Redis Database in Apps Manager

After installing the Redis<sup>e</sup> Pack Service Broker, Redis<sup>e</sup> Pack appears as a service in the Marketplace of your deployment. Developers can provision Redis databases by creating service instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

Follow the instructions below to create a Redis Labs Enterprise Cluster service instance using Apps Manager.

1. Navigate to Apps Manager in a browser and log in.
1. Click **Marketplace**.
1. Click **Redis<sup>e</sup> Pack**.
1. Choose one of the four preconfigured database plans and click **Select this plan**. For more information about the preconfigured plans, see the [Overview](index.html#overview).
1. In the **Configure Instance** form, enter an **Instance Name** to identify the service instance in the deployment as well as the database name in RP. To override the default parameters and provide additional database configuration parameters, click **Show Advanced Options**. Contact support@redislabs.com for further instructions on using this feature.
1. Once you create the service and bind it to an app, you can find the credentials in the `VCAP_SERVICES` environment variable in the following format:

```
"VCAP_SERVICES": {
  "redislabs-enterprise-cluster": [
   {
    "credentials": {
     "host": "redis-12345.pcf-rlec.redislabs.com",
     "ip_list": [
      "10.0.0.171"
     ],
     "password": "some-redis-password",
     "port": 12345
    },
    "label": "redislabs-enterprise-cluster",
    "name": "my-redis-db",
    "plan": "ha-redis",
    "provider": null,
    "syslog_drain_url": null,
    "tags": [
     "redislabs"
    ]
   }
  ]
}
```
